# If not running interactively, don't do anything (leave this at the top of this file)
[[ $- != *i* ]] && return

# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)
source ~/.local/share/omarchy/default/bash/rc

alias c="clear"
alias src="source ~/.bashrc"
alias br="nvim ~/.bashrc"
alias kc="kubectx"
alias bhr="bamboohr"
alias ch="chezmoi"

# UV-init I think?
. "$HOME/.local/share/../bin/env"

export SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/gcr/ssh"

# Enable the use of the keyring for UV
export UV_KEYRING_PROVIDER=subprocess
export UV_INDEX_TOOLSENSE_USERNAME=oauth2accesstoken
export UV_DEFAULT_INDEX=https://pypi.org/simple
export UV_INDEX=toolsense=https://europe-west1-python.pkg.dev/toolsense/toolsense-py-utils/simple/

export GOOGLE_CLOUD_PROJECT="toolsense"

# BambooHR API-key
export BAMBOO_HR_API_TOKEN="{{ (bitwardenFields "item" "bamboohr.com").API.value }}"

export GOPRIVATE="go.iot.toolsense.dev/*,go.iot.toolsense.io/*"

# Zoxide
eval "$(zoxide init bash --cmd cd)"

# Bash completions
if [ -d ~/.bash_completion.d ]; then
  for file in ~/.bash_completion.d/*; do
    [ -f "$file" ] && source "$file"
  done
fi

# opencode
export PATH=/home/golgor/.opencode/bin:$PATH
