{{- $machine := .chezmoi.hostname -}}
# Extra autostart processes
{{- if eq $machine "golgor-framework" }}
exec-once = slack
{{- end }}
exec-once = dbus-update-activation-environment --systemd --all
exec-once = uwsm app -- hyprsunset

