{{- $machine := .chezmoi.hostname -}}
{{- if eq $machine "golgor-laptop" }}
preload = /home/golgor/Code/Personal/wallpaper/rocket_launch.jpg
{{- else if eq $machine "golgor-pc" }}
preload = /home/golgor/Code/Personal/wallpaper/rocket_launch.jpg
{{- end }}

# Load wallpapers
{{- if eq $machine "golgor-laptop" }}
wallpaper = desc:Dell Inc. DELL P3424WE 6Z926T3, /home/golgor/Code/Personal/wallpaper/rocket_launch.jpg
wallpaper = desc:Chimei Innolux Corporation 0x151B, /home/golgor/Code/Personal/wallpaper/rocket_launch.jpg
{{- else if eq $machine "golgor-pc" }}
wallpaper = , /home/golgor/Code/Personal/wallpaper/rocket_launch.jpg
{{- end }}

#enable splash text rendering over the wallpaper
splash = true

#fully disable ipc
# ipc = off


