{{- $machine := .chezmoi.hostname -}}
# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale

{{- if eq $machine "golgor-pc" }}
# Golgor PC at home
env = GDK_SCALE, 1
monitor = , preferred, auto, auto
{{- end }}

{{- if eq $machine "golgor-laptop" }}
# Golgor laptop at office
env = GDK_SCALE, 1
monitor = DP-2, 3440x1440@120.97, 1920x0, 1.0
monitor = eDP-1, 1920x1080@60.0, 5360x0, 1.0, bitdepth, 10
{{- end }}

{{- if eq $machine "golgor-framework" }}
# Framework
env = GDK_SCALE, 1
monitor=eDP-1,2560x1600@165.0,3440x0,1.6,bitdepth,10
monitor=DP-3,3440x1440@59.97,0x0,1.0,bitdepth,10
{{- end }}

